@charset "utf-8";

body {
  padding: 0;
  margin: 0;
}

.base {
  position: relative;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding-left: 16px;
  padding-bottom: 16px;
}

.button > img {
  width: 60px;
  height: 60px;
}

#remoteVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#localVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 320px;
  height: 240px;
  padding-right: 16px;
  padding-bottom: 16px;
}
