@charset "utf-8";

body {
  padding: 0;
  margin: 0;
}

.base {
  position: relative;
}

.buttons {
  background-color: #99cc00;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.button > img {
  width: 60px;
  height: 60px;
}

#remoteVideo {
  width: 100vw;
  height: 100vh;
}

#localVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #99cc00;
  z-index: 3;
  width: 320px;
  height: 240px;
}
